<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered">
        <tbody>
            <tr>
                <td>Your IP</td>
                <td>{{ .IP }}</td>
            </tr>
            <tr>
                <td>Your port</td>
                <td>{{ .Port }}</td>
            </tr>
            {{ if .CountryCode }}
            <tr>
                <td>Country Code</td>
                <td>{{ .CountryCode }}</td>
            </tr>
            {{ end }} {{ if .CountryName }}
            <tr>
                <td>Country Name</td>
                <td>{{ .CountryName }}</td>
            </tr>
            {{ end }} {{ if .RegionCode }}
            <tr>
                <td>Region Code</td>
                <td>{{ .RegionCode }}</td>
            </tr>
            {{ end }} {{ if .RegionName }}
            <tr>
                <td>Region Name</td>
                <td>{{ .RegionName }}</td>
            </tr>
            {{ end }} {{ if .City }}
            <tr>
                <td>City</td>
                <td>{{ .City }}</td>
            </tr>
            {{ end }} {{ if .ZipCode }}
            <tr>
                <td>Zip Code</td>
                <td>{{ .ZipCode }}</td>
            </tr>
            {{ end }} {{ if .Timezone }}
            <tr>
                <td>Timezone</td>
                <td>{{ .Timezone }}</td>
            </tr>
            {{ end }} {{ if .Latitude }}
            <tr>
                <td>Latitude</td>
                <td>{{ .Latitude }}</td>
            </tr>
            {{ end }} {{ if .Longitude }}
            <tr>
                <td>Longitude</td>
                <td>{{ .Longitude }}</td>
            </tr>
            {{ end }} {{ if .MetroCode }}
            <tr>
                <td>Metro Code</td>
                <td>{{ .MetroCode }}</td>
            </tr>
            {{ end }}

            <tr class="separator text-center">
                <td>Header</td>
                <td>Value</td>
            </tr>
            {{ range $key, $value := .Headers }}
            <tr>
                <td>{{ $key }}</td>
                <td>{{ $value }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>