<div id='map'></div>
<script>
    // MapBox token
    mapboxgl.accessToken = 'pk.eyJ1IjoibGVzY2FjdHVzIiwiYSI6ImNqNXFsNXE4NjBpczcyeG84bGt0MXZvd2oifQ.OYL4KAxSNBTDaKS6mo2EhQ';
    // Map initialization
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v9',   // Map style
        minZoom: 0,                                             // Default: 0
        maxZoom: 22,                                            // Default: 22
        interactive: true,                                      // Enable zooming, rotating, etc...
        keyboard: false,                                        // Disable keyboard shorcuts
        zoom: 7,                                                // Current zoom level
        center: [{{ .Longitude }}, {{ .Latitude }}]
        });

    {{ if .CountryName }}
    description = '<strong class="strong-center">{{ .CountryName }}</strong>'
    {{ else }}
    description = ''
    {{ end }}

    description += '<br/>Long: {{ .Longitude }}<br/>Lat: {{ .Latitude }}'

    // Load GeoJSON data
    var geojson = {
        type: 'FeatureCollection',
        features: [{
            type: 'Feature',
            geometry: {
                type: 'Point',
                coordinates: [{{ .Longitude }}, {{ .Latitude }}]
            },
    properties: {
        title: 'You are here',
            description: description
    }
        }]
        };

    // Add markers to map
    geojson.features.forEach(function (marker) {

        // Create a HTML element for each feature
        var el = document.createElement('div');
        el.className = 'marker';

        // Make a marker for each feature and add to the map
        new mapboxgl.Marker(el, { offset: [-50 / 2, -50 / 2] })
            .setLngLat(marker.geometry.coordinates)
            .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
                .setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.description + '</p>'))
            .addTo(map);
    });
</script>
</div>
