<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered">
        <tbody>
            <tr>
                <td><a href="/">{{.BaseURL}}/</a></td>
                <td>This page</td>
            </tr>
            <tr>
                <td><a href="/index">{{.BaseURL}}/index/</a></td>
                <td>Also this page</td>
            </tr>
            <tr>
                <td><a href="/ip">{{.BaseURL}}/ip/</a></td>
                <td>{{ .IP }}</td>
            </tr>
            <tr>
                <td><a href="/port">{{.BaseURL}}/port/</a></td>
                <td>{{ .Port }}</td>
            </tr>
            <tr>
                <td><a href="/lang">{{.BaseURL}}/lang/</a></td>
                <td>{{ .Lang }}</td>
            </tr>
            <tr>
                <td><a href="/ua">{{.BaseURL}}/ua/</a></td>
                <td>{{ .UserAgent }}</td>
            </tr>
            <tr>
                <td><a href="/raw/go">{{.BaseURL}}/raw/go</a></td>
                <td>{{ .Headers }}</td>
            </tr>
            <tr>
                <td><a href="/raw/json">{{.BaseURL}}/raw/json</a></td>
                <td>{{ .JSON }}</td>
            </tr>
            <tr>
                <td><a href="/raw/yaml">{{.BaseURL}}/raw/yaml</a></td>
                <td>{{ .YAML }}</td>
            </tr>
        </tbody>
    </table>
</div>