<!doctype html>
<html>
  {{ template "header.html" . }}
  <body>
    <h1 class="text-center">Who am I ? 
        <small>
          <a href=>{{.Host}}{{.URL}}</a>
        </small>
      </h1>

      <div class="container">
        <h2>Info from your browser</h2>
        {{ template "main.html" . }}
      </div>

      {{/* If the coordonates are not defined, no need to display the map */}}
      {{ if and .Location.Longitude .Location.Latitude }}
      <div class="container space-div">
        <h2>Where you are</h2>
        {{ template "map.html" . }}
    {{ end }}

      <div class="container space-div">
        <h2>Site map</h2>    
        {{ template "second.html" . }}
      </div>
  </body>
</html>